<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.einwin.ec.book.provider.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="com.einwin.ec.book.api.model.Book">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="book_id" jdbcType="INTEGER" property="bookId" />
        <result column="book_name" jdbcType="VARCHAR" property="bookName" />
        <result column="book_author" jdbcType="VARCHAR" property="bookAuthor" />
        <result column="repertory" jdbcType="INTEGER" property="repertory" />
        <result column="price" jdbcType="INTEGER" property="price" />
        <result column="enabled_flag" jdbcType="INTEGER" property="enabledFlag" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updation_date" jdbcType="TIMESTAMP" property="updationDate" />
    </resultMap>
    <sql id="BaseTable">
        ec_book
    </sql>
    <select id="getAll" resultMap="BaseResultMap">
        
        SELECT <include refid="BaseColumns"/>
        FROM <include refid="BaseTable"/>
        
    </select>
    <!--<select id="get" resultMap="BaseResultMap">-->
        <!--SELECT <include refid="BaseColumns" />-->
        <!--FROM <include refid="BaseTable" />-->
        <!--WHERE-->
    <!--</select>-->

</mapper>